.Footer {
  display: flex;
  height: 5%;
  background-color: darkseagreen;
}

.Footer ul {
  display: flex;
  list-style-type: none;
  flex: 30%;
}

.Footer div {
  flex: 33%;
  text-align: center;
  align-items: center;
  flex-direction: row;
}

.Footer a {
  text-decoration: none;
}

.Footer img {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin-right: 20px;
}